@model List<AdvertisementListDto>
@{
    Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="dummy mt-5"></div>
    <div class="col-12 justify-content-center d-flex text-info">
    <h2>İŞ İLANLARI</h2>    
    </div>
    <div class="container my-3 text-white">
        <div class="row">
            @for (int i = 0; i < Model?.Count; i++)
            {
                <div class="col-12 offset-md-1 col-md-10 mb-4">
                    <div class="card mb-2">
                        <div class="card-header pt-4">
                            <h5 class="card-title">@Model[i].Title</h5>
                        </div>
                        <div class="card-body">
                            @Html.Raw(@Model[i].Description)
                            <div>
                                <a asp-action="Send" asp-controller="Advertisement" asp-route-advertisementId="@Model[i].Id" class="btn">Başvur</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}






<style>
    .card .card-header {
        align-items: center;
        justify-content: center;
        display: flex;
        background: rgb(55, 68, 107);
    }

    .card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgb(38, 43, 85);
    }

    .btn {
        justify-content: end;
        display: flex;
        width: 80px;
        color: white;
        background: #6666ff;
    }
</style>
<footer class="footer mt-auto py-3 bg-dark mt-5">

    <div class="container ">
        <div class="col-12 justify-content-center d-flex">
            <span class="text-muted text-center">Copyright &copy; 2023</span>
        </div>
    </div>
</footer>